<!-- public/views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', async () => {
                try {
                    let registration = await navigator.serviceWorker.register('/_js/ServiceWorker.js')
                    console.log('Service Worker registered:', registration);
                } catch(error) {
                    console.log('Service Worker registration failed:', error);
                }
            });
        }
    </script>

    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .pequeno {
            color: green;
        }
        .especial {
            color: red;
        }
        .resposta {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
    <title>Área do Suporte</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="app">
    <%- include ('cabecalho.ejs') %>
    <div class="container">
        <img src="/_img/logo.png" alt="Logo">
        <h1>Arquitetura: Cálculo da Área de um Suporte Octogonal!</h1>
        <p>Determine a área de um suporte octogonal. Se a área for menor que 20 metros quadrados, é um suporte pequeno. Se estiver fora desse intervalo, é um suporte especial.</p>
        <crud-suportes :nomes="lista" @selecionado="seleciona"></crud-suportes>
    <script type="module">
        import CrudSuportes from './_js/Crud.Suportes.js'

        const app = Vue.createApp({
            components: {
                CrudSuportes
            },
            data() {
                const lista = Vue.ref([]);
                const nome = Vue.ref(null);
                function seleciona(evento) {
                    nome.value = evento;
                }
                return {
                    lista,
                    nome,
                    seleciona
                };
            }
        });

        app.mount('#app');
    </script>
</body>
</html>