<!-- public/views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', async () => {
                try {
                    let registration = await navigator.serviceWorker.register('/_js/ServiceWorker.js')
                    console.log('Service Worker registered:', registration);
                } catch(error) {
                    console.log('Service Worker registration failed:', error);
                }
            });
        }
    </script>

    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Área do Suporte</title>
    <style>
        .pequeno {
            color: green;
        }
        .especial {
            color: red;
        }
        .resposta {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="app">
    <%- include ('cabecalho.ejs') %>
    <div class="container">
        <img src="/_img/logo.png" alt="Logo">
        <h1>Arquitetura: Cálculo da Área de um Suporte Octogonal!</h1>
        <p>Determine a área de um suporte octogonal. Se a área for menor que 20 metros quadrados, é um suporte pequeno. Se estiver fora desse intervalo, é um suporte especial.</p>
        <crud-suportes :nomes="lista" v-if="mostrarCrudSuportes" @selecionado="seleciona"></crud-suportes>
        <cartas-suportes :nomes="lista" v-if="mostrarCartasSuportes" @selecionado="seleciona"></cartas-suportes>
        <exibe-suportes :nomes="lista" v-if="mostrarExibeSuportes" @selecionado="seleciona"></exibe-suportes>
        <detalhes-suportes :nomes="lista" v-if="mostrarDetalhesSuportes" @selecionado="seleciona"></detalhes-suportes>
    </div>
    <script type="module">
        import CrudSuportes from './_js/CrudSuportes.js'
        import CartasSuportes from './_js/CartasSuportes.js'
        import ExibeSuportes from './_js/ExibeSuportes.js'
        import DetalhesSuportes from './_js/DetalhesSuportes.js'

        const app = Vue.createApp({
            components: {
                CrudSuportes,
                CartasSuportes,
                ExibeSuportes,
                DetalhesSuportes
            },
            data() {
                return {
                    lista: [],
                    mostrarCrudSuportes: true, 
                    mostrarCartasSuportes: false, 
                    mostrarExibeSuportes: false, 
                    mostrarDetalhesSuportes: false 
                };
            },
            methods: {
                seleciona(evento) {
                    this.nome = evento;
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>
