<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeovah Lanches - Usuários Cadastrados</title>
    <link rel="stylesheet" href="/_css/estilo2.css" />
    <style>
        .correto {
            color: rgb(227, 243, 9);
        }

        .incorreto {
            color: red;
        }
    </style>
</head>

<body>
    <header>
        <% include ('cabecalho.ejs') %>
    </header>

    <section id="Titulo_site">
        <h1>Usuários Cadastrados</h1>
    </section>

    <section id="resposta">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <% if (usuarios && usuarios.length > 0) { %>
                    <% for (let usuario of usuarios) { %>
                        <tr>
                            <td><%= usuario.id %></td>
                            <td><%= usuario.nome %></td>
                            <td><%= usuario.email %></td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="3">Nenhum usuário cadastrado.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>

    <footer class="desenvolvido_texto">Desenvolvido por Jeovah <a href="autor">Autor</a></footer>
</body>

</html>